---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      Hey there! I'm a seasoned project manager and UX aficionado with a knack for transforming chaos into creativity. With over 9 years of experience in the telecom industry, I've mastered the art of juggling multiple teams and crafting presentations so captivating, they might just qualify as performance art.
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      If you're a fellow project manager or a potential recruiter looking for someone who combines professional expertise with a touch of whimsy, look no further. I'm here to collaborate, innovate, and turn your visions into reality. Let's create something amazing together!

    </br> <b>Hit me up on <a href="mailto:1991.shaan@gmail.com">1991.shaan@gmail.com</a> </b> </br> for any project management inquiries or just to share a good joke. Let's make work fun and productive!       </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      Previously, I ran a startup that, while it didn't skyrocket, gave me a hefty dose of exposure and resilience. Nowadays, when I'm not steering a 40-strong team through the seas of deadlines and deliverables, you can find me indulging in my artistic pursuits – from writing and singing to painting and cracking jokes. This eclectic mix of hobbies not only keeps my sanity intact but also sharpens my project management skills and user understanding.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
      I've tackled numerous tech projects across multiple industries (shh, NDAs!), and my current mission? Mastering the art of pottery. My goal is to infuse every piece of work with creativity and joy, making the world a better place one project at a time.
      </p>
    </div>
  </div>

</section>
