---
// Define testimonials/opinions data
const humanOpinions = [
  {
    name: "Zoha",
    role: "Shaan's Wife and Sous Chef",
    opinion:
      "Living with Shaan is like having a whirlwind of creativity and dedication in the house. Once upon a time, he was a master chef, whipping up gourmet meals that would put Michelin-starred restaurants to shame. Nowadays, he's so focused on his projects and team management that I’m lucky if I get a sandwich. But his work ethic is unbeatable! Even after hours, he's crafting stunning presentations and coming up with brilliant UX designs. It's inspiring to see his passion, even if it means I have to fend for myself in the kitchen. If you need someone who's all in, Shaan is your guy!",
  },
  {
    name: "Jameel Mujawar",
    role: "CEO at SUCO Technologies",
    opinion:
      "Shaan is a project management maestro with a flair for UX design. His ability to seamlessly integrate user-friendly interfaces with project goals has transformed our workflow. His unique approach, combining artistic talent with technical expertise, has consistently delivered results that exceed expectations.",
  },
  {
    name: "James V",
    role: "Product Owner at Verizon",
    opinion:
      "Shaan is not just a project manager; he's a true innovator. His artistic background enriches his approach to project management, making every project a blend of efficiency and creativity. His dedication to understanding user needs and delivering tailored solutions has made a significant impact on our projects' success. He's a game-changer in the industry.",
  },
  {
    name: "Kirk B",
    role: "Senior RTE at Verizon",
    opinion:
      "I've had the pleasure of working with Shaan on several projects, and his ability to balance creativity with practicality is truly remarkable. His presentations are not only visually stunning but also effectively communicate complex ideas. His commitment to excellence and his infectious enthusiasm make him an invaluable asset to any team.",
  },
];
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>Human</span>
        <span class="font-bold">Opinions</span>
      </h3>
      <div class="h-1.5 bg-secondary"></div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 pt-2 mt-2">
      {
        humanOpinions.map((opinion) => (
         <div>
            <p class="italic text-2xl block font-bold">
              {opinion.name} {opinion.role}
            </p>
            <p class="text-sm leading-relaxed mt-6">
              {opinion.opinion}
            </p>
         </div>
        ))
      }
    </div>
  </div>
</section>
